<mat-toolbar color="primary" class="footer-bar">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
      <p class="mat-subheading-2 author">
        Michael Zelenyuk, 2017
      </p>
    </div>

    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
      <div class="powered-by">
        <span class="mat-subheading-2 hidden-xs">
          Powered by <a href="https://angular.io/" target="_blank" title="Angular Home">Angular</a>
        </span>

        <img class="angular-logo" src="assets/angular.svg" alt="Angular"/>
      </div>
    </div>
  </div>
</mat-toolbar>
