/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap.css";

body {
  margin: 0;
  background-color: #fafafa;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.text-center {
  text-align: center;
}

.app-logo {
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}
